body{
    background-color:black;
    color: white;
    width: 100%;
}

h1 h2{
    font-weight: bold;
    font-size: 50px;
}

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

.letterBoxes{
    width: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    vertical-align: middle;
}

.clearfix{
    content:"";
    clear:both;
    display: table;
}

#contentBody{
    position: fixed;
    top: 30%;
    left: 10%;
    right: 10%;
    display: flex;
    width:80%;
    height: 50%;
}

#gameDiv{
    background-color:white;
    color: black;
    font-size: 20px;
    width:70%;
    height: auto;
    display: flex;
    top: 150px;
    float:left;
}

#sideBar{
    width: 30%;
    height: 50%;
    display: table;
}

#scoreDiv{
    height:50%;
    width: 100%;
    display:table;
    top: 150px;
    margin-left: 20px;
}

#instructionDiv{
    height: 50%;
    width: 100%;
    margin-left: 20px;
}
